.fa-question{
    color:rgba(255,255,255,.3)
}

.dash_admin:hover .fa-question{
    color:rgba(255, 255, 255, 0.952)
}

.dropdown-toggle-dash{
    background:none;
    border:none; 
    outline:none; 
    color:rgba(255,255,255,.8) 
}

.dash_admin:hover .dropdown-toggle-dash{
    color:rgba(255, 255, 255, 0.952)
}
li .fa-user{
    font-size: 30px;
    color: red;
}